
  .img {
      margin-right: 20px;
  }

  .logo {
      text-align: center;
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(247, 14, 227);
  }
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

  .logohinh {
      width: 70px;
      height: 70px;
      transform: translateY(5px);
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 45px;
      border-bottom-left-radius: 45px;
      box-shadow: 1px 2px 6px pink;
      margin-left: 80px;
      display: inline-block;
      animation: spin 4s linear infinite;
  }

  .card {
      box-shadow: 1px 2px 12px rgb(248, 10, 197);
  }

  .title {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 16px;
      font-weight: bold;
  }

  .text {
      color: red;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      text-align: center;
      font-weight: bold;

  }

  .star {
      color: yellow;
  }

  .a {
      color: red;
  }

  .c {
      background-color: white;
      color: black;
      list-style: none;
      display: inline-block;
      border-radius: 1em;
      padding: 0.5em;
      margin-right: 0.5em;
  }

  .span {
      display: inline-block;
      width: 50px;
      height: 30px;
      margin: 2px;
      background-color: white;
      color: black;
  }

  .color {
      background-color: rgb(195, 247, 247);
  }

  .footer {
      background-color: white;
      color: rgb(121, 120, 120);
  }

  .footer1 {
      border-bottom: 2px solid white;
  }

  .b {
      text-align: center;
  }
  
  .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #e9d8f4;
  }

  .li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
  }

  .li a:hover {
      background-color: #db7093;
      font-weight: bold;
      color: white;
    
  }


